.job-line {
    vertical-align: middle;
    line-height: 1.1;
}

.circle {
    font-weight: bold;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    line-height: 1.0;
}

.totals {
    font-weight: bold;
    line-height: 1.0;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    width: 100%;
    top: 29%;
    font-size: 18px;
}


/*
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
*/

a:link {
    text-decoration: none;
    color: Azure;
}

a:visited {
    text-decoration: none;
    color: Azure;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}