<% extend 'code-owners-layout.ect' %>

<div class="row row-content">
    <div class="col-xs-12">
        <div id="title">
            <h1>Code Ownership Hierarchy</h1>

            <% include 'code-owners-list.ect' %>

            <% end %>
        </div>
    </div>
</div>
