 <% itemsHelper = (p) -> %>
      <% if p.item.items?.length : %>
         <h2><%- p.helper.listTypeHelper p.item %>: <%- p.item.description %></h2>
         <div class="table-responsive">
             <table class="table table-striped">
                 <tr>
                     <th style="width:20%;">
                         <%- p.helper.listTypeHelper p.item[p.item.items[0]] %></th>
                     <th><%- p.helper.ownerTypeHelper p.item[p.item.items[0]] %></th>
                 </tr>
                 <% for listItem in p.item.items : %>
                     <tr>
                         <td><%- p.item[listItem].description %></td>
                         <td><%- p.helper.joinOwnersHelper p.item[listItem].owners %></td>
                     </tr>
                 <% end %>
             </table>
             <% for subitem in p.item.items : %>
                 <%- itemsHelper {item: p.item[subitem], helper: p.helper} %>
             <% end %>
         </div>
    <% end %>
 <% end %>

<% if this.items?.length : %>
    <%- itemsHelper {item: this, helper: this.helper} %>
<% else : %>
	<p>List is empty</p>
<% end %>
