<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!--		<title>Code Owners</title>-->
        <title>DBPOPULATE Timings</title>

				<!-- Latest compiled and minified CSS -->
<!--				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

				<!-- Optional theme -->
<!--				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

				<!-- Latest compiled and minified JavaScript -->
				<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

         <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
         <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- icon fonts -->
         <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
        <link href="css/bootstrap-social.css" rel="stylesheet">
        <!-- my styles -->
        <link href="css/mystyles.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--        CHARTS-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	</head>
	<body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
<!--                        <img src="img/logo.png" height=30 width=41>-->
                        DBPOPULATE Statistics</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="code-owners.html"><span class="glyphicon glyphicon-home"
                             aria-hidden="true"></span> Code Owners</a></li>
                        <li><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Code Owners View</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">dummy 1</a></li>
                                <li><a href="#">dummy 2</a></li>
                                <li><a href="#">dummy 3</a></li>
                                <li><a href="#">dummy 4</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">sub-menu</li>
                                <li><a href="#">dummy 5</a></li>
                                <li><a href="#">dummy 6</a></li>
                            </ul>
                        </li>
                        <li><a href="quality-owners-view.html"><i class="fa fa-envelope-o"></i> Quality Owners View</a></li>
                        <li><a href="historic-results.html"><i class="fa fa-envelope-o"></i> Historic Results</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- <header class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-xs-12 col-sm-8">
<!--
                        <h1>Code Owners</h1>
                        <p>JHC Code Ownership and Automated Testing Results</p>
--
                        <h1>DBPOPULATE Timings</h1>
                        <p>JHC figaro-db-populate run statistics</p>
                    </div>
                </div>
            </div>
        </header> -->
        <div class="container">
            <div>
                <ol class="breadcrumb">
                    <li class="active">DBPOPULATE Timings</li>
                </ol>
            </div>
            <% content %>
        </div>
	</body>
</html>
