<% itemsHelper = (p) -> %>
    <%- p.helper.getDailyAverageChartData {dailyAverages: p.dailyAverages, helper: p.helper} %>
<% end %>

<% if this.averages?.daily? : %>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
//          ['Year', 'Sales', 'Expenses'],
//          ['2004',  1000,      400],
//          ['2005',  1170,      460],
//          ['2006',  660,       1120],
//          ['2007',  1030,      540]

            <%- itemsHelper {dailyAverages: this.averages.daily, helper: this.helper} %>
            
        ]);

        var options = {
            title: 'Run and Individual Layer Daily Averages (minutes)',
            curveType: 'function',
            legend: { position: 'bottom' },
            explorer: {},
//          animation: {//incompatible with explorer
//            startup: true,
//            duration: 1500  
//          },
            vAxis: {
                minValue: 0,
                //title: 'mins',
                ticks: [30,60,90,120,150,180,210,240],
                minorGridlines: {count: 2}
          }    
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>
<!--         <div id="curve_chart" style="width: 1200px; height: 1000px"></div>-->
        <div id="curve_chart" style="height: 700px"></div>
        <small>(scroll to zoom, drag to pan, right-click to reset)</small><br><br>
<% else : %>
	<p>List is empty</p>
<% end %>
