<% extend 'db-populate-timings-layout.ect' %>


<!--
<div class="row row-content">
    <div class="col-xs-12">
        <div id="title">
            <h2>Daily Averages</h2>

            % include 'db-populate-timings-averages-chart.ect' %>
            % include 'db-populate-timings-averages-list.ect' %>
            
            <h2>Run Timings</h2>

            % end %>
        </div>
    </div>
</div>
-->

<h2>Daily Averages</h2>

<div class="row row-content">
    <div class="col-xs-12">
            <% include 'db-populate-timings-averages-chart.ect' %>
    </div>
</div>
<div class="row row-content">
    <div class="col-xs-12">
            <% include 'db-populate-timings-averages-list.ect' %>
    </div>
</div>
<h2>Run Timings</h2>
