<% extend 'quality-owners-grouped-layout.ect' %>

<% if this.helper.params.orientation == "landscape" : %>
    <tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'failed', view: this.view, helper: this.helper} %>
            <% include 'quality-owners-grouped-list.ect' %>
        </td>
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'passed', view: this.view, helper: this.helper} %>
            <% include 'quality-owners-grouped-list.ect' %>
        </td> 
    </tr>
<% else : %>
	<tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'', view: this.view, helper: this.helper} %>
            <% include 'quality-owners-grouped-list.ect' %>
        </td>
    </tr>
<!--
    <tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            %- this.helper.setTypeFilter {passedOrFailed:'passed', view: this.view, helper: this.helper} %>
            % include 'quality-owners-grouped-list.ect' %>
        </td>
    </tr>
-->
<% end %>