<% itemsHelper = (p) -> %>
    <% for listItem in p.view : %>
        <tr>
            <%- p.helper.getCircleHtml {viewItem: listItem, helper: p.helper} %>
            <%- p.helper.getViewHtml {viewItem: listItem, helper: p.helper} %>
            <%- p.helper.getSubItemCirclesAndText {viewItem: listItem, helper: p.helper} %>
        </tr>
        <tr><td style="height:4px"></td></tr>
    <% end %>
<% end %>

<table border="0" cellspacing="0" cellpadding="0">
    <% if this.helper.filteredList?.length : %>
        <%- itemsHelper {view: this.helper.filteredList, helper: this.helper} %>
    <% end %>
</table>    