<% statusLineHelper = (p) -> %>
    <%- p.view.displayName %>
    <br>
    <div style="font-size:9px">
        <%- p.helper.getStatusLine(p.view, p.helper) %>
    </div>
<% end %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Automated Test Results</title>
        <style></style>
        <link href="css/mystyles.css" rel="stylesheet">
    </head>
    <body bgcolor="#181818" style="background-image: url(img/background-2.png)">
        <table align="center" style="color:#EAEAEA; text-align:center; font-family:'Segoe UI'">
            <tr style="font-size:72px">
                <td colspan="2" align="center" style="text-align:center">
                    <%- statusLineHelper {view: this, helper:this.helper} %>
                </td>
            </tr>
            <% content %>
        </table>
    </body>
</html>
