<% itemsHelper = (p) -> %>
    <% for listItem in p.jobs : %>
        <tr>
            <%- p.helper.getCircleHtml {job: listItem, helper: p.helper} %>
            <%- p.helper.getJobHtml {job: listItem, helper: p.helper} %>
        </tr>
    <% end %>
<% end %>

<table border="0" cellspacing="1" cellpadding="0">
    <% if this.helper.filteredList?.length : %>
        <%- itemsHelper {jobs: this.helper.filteredList, helper: this.helper} %>
    <% end %>
</table>    