<% extend 'radiators-flat-layout.ect' %>

<% if this.helper.params.orientation == "landscape" : %>
    <tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'failed', jobs: this.jobs, helper: this.helper} %>
            <% include 'radiators-flat-list.ect' %>
        </td>
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'passed', jobs: this.jobs, helper: this.helper} %>
            <% include 'radiators-flat-list.ect' %>
        </td> 
    </tr>
<% else : %>
	<tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'failed', jobs: this.jobs, helper: this.helper} %>
            <% include 'radiators-flat-list.ect' %>
        </td>
    </tr>
    <tr align="left" style="text-align:left">
        <td valign="top" style="vertical-align:top">
            <%- this.helper.setTypeFilter {passedOrFailed:'passed', jobs: this.jobs, helper: this.helper} %>
            <% include 'radiators-flat-list.ect' %>
        </td>
    </tr>
<% end %>