<% itemsHelperPassFail = (p) -> %>
    <%- p.helper.getViewChartPassFailData {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>
<% itemsHelperPassFailColumns = (p) -> %>
    <%- p.helper.getViewChartPassFailColumns {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>
<% itemsHelperPassFailRows = (p) -> %>
    <%- p.helper.getViewChartPassFailRows {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>


<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <% if p.helper.passesFilter(listItem) : %>

                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    
                    google.charts.setOnLoadCallback(drawChartPassFail<%- p.helper.getUniqueNo true %>);

                    function drawChartPassFail<%- p.helper.getUniqueNo false %>() {
                        //var data = google.visualization.arrayToDataTable([
                        //    %- itemsHelperPassFail {views: p.views, viewName: listItem, helper: p.helper} %>
                        //]);
                        var data = new google.visualization.DataTable();
                        <%- itemsHelperPassFailColumns {views: p.views, viewName: listItem, helper: p.helper} %>
                        <%- itemsHelperPassFailRows {views: p.views, viewName: listItem, helper: p.helper} %>

                        var options = {
                            title: '<%- p.helper.getDisplayName(listItem) %>',
                            <% include 'dark-chart-common-options.ect' %>
                            series: {
                                0: {color: 'Tomato'},//0: {color: 'red'},
                                1: {color: 'LightSeaGreen'},
                                2: {color: 'Blue', type: 'line'}
                            }
                        };

                        var chart = new google.visualization.ComboChart(document.getElementById('curve_chart_pass_fail_<%- listItem %>'));

                        chart.draw(data, options);
                    };

                </script>
                <div id="<%- listItem %>" class="col-xs-12">
                    <div id="curve_chart_pass_fail_<%- listItem %>" style="height: 700px"></div>
                        <!--            <small>(scroll to zoom, drag to pan, right-click to reset)</small>-->
                    <br><br>
                </div>

            <% end %>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.totals?.views : %>
    
    <%- scriptHelper {views: this.history.totals.views, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
