<% itemsHelperStabilityMonthColumns = (p) -> %>
    <%- p.helper.getViewChartStabilityMonthColumns {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>
<% itemsHelperStabilityMonthRows = (p) -> %>
    <%- p.helper.getViewChartStabilityMonthRows {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>

<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <% if p.helper.passesFilter(listItem) : %>

                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    
                    google.charts.setOnLoadCallback(drawChartStabilityMonth<%- p.helper.getUniqueNo true %>);

                    function drawChartStabilityMonth<%- p.helper.getUniqueNo false %>() {
                        var data = new google.visualization.DataTable();
                        <%- itemsHelperStabilityMonthColumns {views: p.views, viewName: listItem, helper: p.helper} %>
                        <%- itemsHelperStabilityMonthRows {views: p.views, viewName: listItem, helper: p.helper} %>

                        //var test = %- JSON.stringify(p.views[listItem]) %>;
                        
                        var options = {
                            title: '<%- p.helper.getDisplayName(listItem) %>\n (weighted %age of test projects with all green tests at 11:59pm)',
                            legend: { position: 'right', textStyle: { color: '#ffffff' } },
                            animation: {//incompatible with explorer
                                startup: true,
                                duration: 1500  
                            },
                            backgroundColor: 'transparent',
                            chartArea: {backgroundColor: '#222222'},
                            titleTextStyle: { color: '#ffffff' },
                            annotations: {textStyle: { color: '#ffffff' }},
                            tooltip: {textStyle: { color: '#222222' }},
                            isStacked: 'percent',
                            vAxis: {
                                minValue: 0,
                                textStyle: { color: '#ffffff' }
                            },
                            hAxis: {
                                textStyle: { color: '#ffffff' }
                            },
                            bar: {groupWidth: "105%"},
                            is3D: true,
                            series: {
                                0: {color: 'Tomato'},//0: {color: 'red'},
                                1: {color: 'LightSeaGreen'}
                            }    
                        };

                        var chart = new google.visualization.ColumnChart(document.getElementById('pie_chart_test_stability_month_<%- listItem %>'));

                        chart.draw(data, options);
                    };

                </script>
                <div id="<%- listItem %>" class="col-xs-12">
                    <div id="pie_chart_test_stability_month_<%- listItem %>" style="height: 700px"></div>
                    <br><br>
                </div>

            <% end %>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.stability : %>

    <%- scriptHelper {views: this.history.stability, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
