<% itemsHelperSubItemsColumns = (p) -> %>
    <%- p.helper.getViewChartSubItemsColumns {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>
<% itemsHelperSubItemsRows = (p) -> %>
    <%- p.helper.getViewChartSubItemsRows {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>

<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <% if p.helper.passesFilter(listItem) : %>

                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    
                    google.charts.setOnLoadCallback(drawChartSubItems<%- p.helper.getUniqueNo true %>);

                    function drawChartSubItems<%- p.helper.getUniqueNo false %>() {
                        var data = new google.visualization.DataTable();
                        <%- itemsHelperSubItemsColumns {views: p.views, viewName: listItem, helper: p.helper} %>
                        <%- itemsHelperSubItemsRows {views: p.views, viewName: listItem, helper: p.helper} %>

                        var options = {
                            title: '<%- p.helper.getDisplayName(listItem) %>',
                            pieHole: 0.4,
                            legend: { position: 'right', textStyle: { color: '#ffffff' } },
                            animation: {//incompatible with explorer
                                startup: true,
                                duration: 1500  
                            },
                            backgroundColor: 'transparent',
                            chartArea: {backgroundColor: '#222222'},
                            titleTextStyle: { color: '#ffffff' },
                            annotations: {textStyle: { color: '#ffffff' }},
                            tooltip: {textStyle: { color: '#222222' }},
                            sliceVisibilityThreshold: .015,
                            pieSliceText: 'value',
                            is3D: true
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('pie_chart_sub_items_<%- listItem %>'));

                        chart.draw(data, options);
                    };

                </script>
                <div id="<%- listItem %>" class="col-xs-12">
                    <div id="pie_chart_sub_items_<%- listItem %>" style="height: 700px"></div>
                    <br><br>
                </div>

            <% end %>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.views : %>
    
    <%- scriptHelper {views: this.history.views, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
