<% itemsHelper = (p) -> %>
    <%- p.helper.getViewChartData {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>

<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <span id="<%- listItem %>"></span>
            <script type="text/javascript">
                google.charts.setOnLoadCallback(drawChart<%- p.helper.getUniqueNo true %>);

                function drawChart<%- p.helper.getUniqueNo false %>() {
                    google.charts.load('current', {'packages':['corechart']});
                    
                    var data = google.visualization.arrayToDataTable([
//          ['Year', 'Sales', 'Expenses'],
//          ['2004',  1000,      400],
//          ['2005',  1170,      460],
//          ['2006',  660,       1120],
//          ['2007',  1030,      540]

                        <%- itemsHelper {views: p.views, viewName: listItem, helper: p.helper} %>
            
                    ]);

                    var options = {
                        title: '<%- listItem %> View All Results Totals (raw data)',
                        curveType: 'function',
                        legend: { position: 'bottom' },
                        explorer: {},
                        animation: {//incompatible with explorer
                            startup: true,
                            duration: 1500  
                        },
                        //backgroundColor: '#222222',
                        //backgroundColor: {stroke:null, fill:null, strokeSize: 0},    
                        backgroundColor: 'transparent',
                        chartArea: {backgroundColor: '#222222'},
                        titleTextStyle: { color: '#ffffff' },
                        legend: {textStyle: { color: '#ffffff' }},
                        annotations: {textStyle: { color: '#ffffff' }},
                        tooltip: {textStyle: { color: '#222222' }},
                        vAxis: {
                            minValue: 0,
                            textStyle: { color: '#ffffff' }
                        },
                        hAxis: {
                            textStyle: { color: '#ffffff' }
                        },
                        isStacked: true,
                        seriesType: 'area',
                        series: {
                            0: {color: 'Tomato'},//0: {color: 'red'},
                            1: {color: 'LightSeaGreen'},
                            2: {color: 'DarkOrange'},//2: {color: 'orange'},
                            3: {color: 'Blue', type: 'line'}
                        }
                    };

                    var chart = new google.visualization.ComboChart(document.getElementById('curve_chart_<%- listItem %>'));                                                                       

                    chart.draw(data, options);
                }
            </script>
            <div id="curve_chart_<%- listItem %>" style="height: 700px"></div>
<!--            <small>(scroll to zoom, drag to pan, right-click to reset)</small>-->
            <br><br>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.totals?.views : %>
    
    <%- scriptHelper {views: this.history.totals.views, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
