<% extend 'test-history-layout.ect' %>

<!--TODO: if twocharts param passed in, then show 2 charts (pass/fail vs fail/missing)
          if subitemresults param passed in, then show 1 chart with total (passed+failed) for sub-items
          if totalsonly passed in, show 1 chart with totals only (passed+failed)
          else (singlechart) show 1 chart with passed/failed
    TODO: MORE: if viewfilter passed in, filter list to just views in view filter (normally just 1)
    TODO: to do any of this, I need to gather the sub item results (done).  The way to do this is to fill the views node
          in fetch-test-history, to get for each sub item all the results (i.e. all the datetimes results).
          To avoid massive growth of the results file, I will NOT expand the raw data 
          (i.e. totals node will hold raw data totals for whole jobs, just results for when something changes,
          and views node will hold raw data for individual views in a job, just when those individual results change).
          This means these results need to be processed:
            -last week, hour by hour, best & worst results for totals (whole jobs) with sub-nodes (views inside jobs)
              defaulting from previous hour for any missing results.
            -last month, day by day, best and worst results...
            -last year, day by day
    SO FOR NOW, JUST IMPLEMENT singlechart view, twocharts and totalsonly over raw data - these can be switched to using
          processed data when it is ready.
-->

<!--
<div class="row row-content">
    <div class="col-xs-12">
        <div id="title">
            <h2>Daily Averages</h2>

            % include 'db-populate-timings-averages-chart.ect' %>
            % include 'db-populate-timings-averages-list.ect' %>
            
            <h2>Run Timings</h2>

            % end %>
        </div>
    </div>
</div>
-->

<!--<div class="row row-content">-->
    
<!--    for simplicity, use a different template page for each type, and each one uses a different helper method-->
    <% if this.helper.params.charttype == 'twocharts' : %>   
        <h2>Total Tests</h2>
        <% include 'test-history-chart-twocharts-dark.ect' %>
    <% else if this.helper.params.charttype == 'subitemresults' : %>   
        <h2>Testing Breakdown</h2>
        <% include 'test-history-chart-subitems-dark.ect' %>
    <% else if this.helper.params.charttype == 'totalsonly' : %>   
        <h2>Total Tests</h2>
        <% include 'test-history-chart-totalsonly-dark.ect' %>
    <% else if this.helper.params.charttype == 'teststability' : %>   
        <h2>Testing Stability - Last 30 days</h2>
        <% include 'test-history-chart-teststability-dark.ect' %>
    <% else : %>   
        <h2>Total Tests</h2>
        <% include 'test-history-chart-singlechart-dark.ect' %>
    <% end %>
<!--</div>-->
<!--Now cycle through the different views showing test history of each item-->
<!--*********TODO*********-->


<div class="row row-content">
    <div class="col-xs-12">
<!--        % include 'test-history-list.ect' %>-->
    </div>
</div>
