 <% itemsHelper = (p) -> %>
    <% for listItem in p.helper.getDailyAverageData {dailyAverages: p.dailyAverages, helper: p.helper} : %>
        <tr>
            <td><%- listItem.date %></td>
            <td><%- listItem.runs %></td>
            <td><%- listItem.runTime %></td>
            <td><%- listItem.layers %></td>
            <td><%- listItem.slowEntities %></td>
        </tr>
    <% end %>
<% end %>

<% if this.averages?.daily? : %>
         <div class="table-responsive">
             <table class="table table-striped">
                 <tr>
                     <th style="width:10%;">Date</th>
                     <th style="width:10%;">Runs</th>
                     <th style="width:10%;">Average Run Time</th>
                     <th style="width:40%;">Layers</th>
                     <th style="width:30%;">Slowest Entities</th>
                 </tr>
                 <%- itemsHelper {dailyAverages: this.averages.daily, helper: this.helper} %>
                 
             </table>
        </div>
<% else : %>
	<p>List is empty</p>
<% end %>
