<% itemsHelperPassFail = (p) -> %>
    <%- p.helper.getViewChartPassFailData {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>
<% itemsHelperFailMissing = (p) -> %>
    <%- p.helper.getViewChartFailMissingData {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>

<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <% if p.helper.passesFilter(listItem) : %>

                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    
                    
                    google.charts.setOnLoadCallback(drawChartPassFail<%- p.helper.getUniqueNo true %>);
                    google.charts.setOnLoadCallback(drawChartFailMissing<%- p.helper.getUniqueNo false %>);

                    function drawChartPassFail<%- p.helper.getUniqueNo false %>() {
                        var data = google.visualization.arrayToDataTable([
                            <%- itemsHelperPassFail {views: p.views, viewName: listItem, helper: p.helper} %>
                        ]);

                        var options = {
                            title: '<%- listItem %> View All Results Totals (raw data)',
                            <% include 'dark-chart-common-options.ect' %>
                            series: {
                                0: {color: 'Tomato'},//0: {color: 'red'},
                                1: {color: 'LightSeaGreen'},
                                2: {color: 'Blue', type: 'line'}
                            }
                        };

                        var chart = new google.visualization.ComboChart(document.getElementById('curve_chart_pass_fail_<%- listItem %>'));

                        chart.draw(data, options);
                    };
                    function drawChartFailMissing<%- p.helper.getUniqueNo false %>() {
                        var data = google.visualization.arrayToDataTable([
                            <%- itemsHelperFailMissing {views: p.views, viewName: listItem, helper: p.helper} %>
                        ]);

                        var options = {
                            title: '<%- listItem %> View All Results Totals (raw data)',
                            <% include 'dark-chart-common-options.ect' %>
                            series: {
                                0: {color: 'Tomato'},//0: {color: 'red'},
                                1: {color: 'DarkOrange'},
                                2: {color: 'Blue', type: 'line'}
                            }
                        };

                        var chart = new google.visualization.ComboChart(document.getElementById('curve_chart_fail_missing_<%- listItem %>'));

                        chart.draw(data, options);
                    };

                </script>
                <div id="<%- listItem %>" class="col-xs-12 col-sm-6">
                    <div id="curve_chart_pass_fail_<%- listItem %>" style="height: 700px"></div>
                        <!--            <small>(scroll to zoom, drag to pan, right-click to reset)</small>-->
                    <br><br>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div id="curve_chart_fail_missing_<%- listItem %>" style="height: 700px"></div>
                        <!--            <small>(scroll to zoom, drag to pan, right-click to reset)</small>-->
                    <br><br>
                </div>

            <% end %>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.totals?.views : %>
    
    <%- scriptHelper {views: this.history.totals.views, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
