<% itemsHelper = (p) -> %>
    <%- p.helper.getViewChartData {views: p.views, viewName: p.viewName, helper: p.helper} %>
<% end %>

<% scriptHelper = (p) -> %>
    <%- p.helper.setupViewsItems {views: p.views, helper: p.helper} %>

    <% if p.views.items?.length : %>
        <% for listItem in p.views.items : %>
            <span id="<%- listItem %>"></span>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                
                google.charts.setOnLoadCallback(drawChart<%- p.helper.getUniqueNo true %>);

                function drawChart<%- p.helper.getUniqueNo false %>() {
                    var data = google.visualization.arrayToDataTable([
//          ['Year', 'Sales', 'Expenses'],
//          ['2004',  1000,      400],
//          ['2005',  1170,      460],
//          ['2006',  660,       1120],
//          ['2007',  1030,      540]

                        <%- itemsHelper {views: p.views, viewName: listItem, helper: p.helper} %>
            
                    ]);

                    var options = {
                        title: '<%- listItem %> View All Results Totals',
                        curveType: 'function',
                        legend: { position: 'bottom' },
                        explorer: {},
                        animation: {//incompatible with explorer
                            startup: true,
                            duration: 1500  
                        },
                        vAxis: {
                            minValue: 0
                        },
                        isStacked: true,
                        seriesType: 'area',
                        series: {
                            0: {color: 'red'},
                            1: {color: 'green'},
                            2: {color: 'orange'},
                            3: {color: 'blue', type: 'line'}
                        }
                    };

//                    var chart = new google.visualization.AreaChart(document.getElementById('curve_chart_%- listItem %>'));
                    var chart = new google.visualization.ComboChart(document.getElementById('curve_chart_<%- listItem %>'));                                                                       

                    chart.draw(data, options);
                }
            </script>
            <div id="curve_chart_<%- listItem %>" style="height: 700px"></div>
<!--            <small>(scroll to zoom, drag to pan, right-click to reset)</small>-->
            <br><br>
        <% end %>
    <% else : %>
	   <p>List is empty</p>
    <% end %>
<% end %>

<% if this.history?.totals?.views : %>
    
    <%- scriptHelper {views: this.history.totals.views, helper: this.helper} %>
    
<% else : %>
	<p>List is empty</p>
<% end %>
