text {
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
}

text.parent {
    /*            fill: #1f77b4;*/
    fill: #1f77FF;
}

circle {
    /*            fill: #ccc;*/
    /*            stroke: #999;*/
    stroke: steelblue;
    pointer-events: all;
    stroke-width: .2px;
}

circle.parent {
    fill: #1f77b4;
    /*            fill-opacity: .1;*/
    fill-opacity: .07;
    /*            stroke: steelblue;*/
}

circle.parent:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

circle.child {
    /*            pointer-events: none;*/
    stroke-width: .5px;
}

circle.child:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 165px;
    z-index: 10;
}

.tooltip_detailed {
    width: 400px;
}